html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(94, 28, 22);  
    border-radius: 5px;
}
body{
    font-family: "Montserrat", system-ui;
    margin: 0;
    padding: 0;
    background-color: rgb(24, 17, 17);
    color: rgb(255, 151, 125);
    /* overflow-x: hidden; */
    /* height: 1000px; */
}
#navbar{
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(16px);
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
}
#navbar .nav-judul p{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
#navbar .nav-login button{
    border-style: none;
    font-size: 27px;
    font-weight: 700;
    border-radius: 40px;
    padding: 5px 15px;
    background-color: rgb(229, 77, 46);
    color: rgb(251, 211, 203);
}
#collection{
    margin-top: 200px;
    width: 100%;
}
#collection .collection-container{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
#collection .collection-container::-webkit-scrollbar {
    display: none; 
  }
#collection .collection-container .collection-item{
    box-sizing: border-box;
    width: 382px;
    height: 449px;
    background-color: rgb(94, 28, 22);
    border-radius: 35px;
    padding: 25px 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#collection .collection-item .item-gambar{
    width: 320px;
    height: 240px;
    border-radius: 35px;
    box-shadow: 4px 4px 12px rgba(251, 211, 203, 0.5);
}
#collection .collection-item .item-judul{
    margin: 21px 0;
    font-size: 30px;
    font-weight: 700;
}
#collection .collection-item .item-desc{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}